html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1290px;
}

/* 面包屑与card中间的距离 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-style: 12px;
}

/* 表格距离面包屑导航顶部距离 */
.el-table {
  margin-top: 15px;
  font-size: 12px;
}

/* 分页与表格中间的距离 */
.el-pagination {
  margin-top: 15px;
}
